.ipynb_checkpoints
.mypy_cache
.vscode
env-notebooks
env-langchain-llm
env-semantic-web
env-ml-bootcamp-2022
env-base-practice
env-3-12-llm
env-pytorch
env-langchain-ollama
env-nlp
datasets
env-ml-bootcamp