.ipynb_checkpoints
.mypy_cache
.vscode
env-notebooks
env-langchain-llm
env-semantic-web
env-ml-bootcamp-2022
env-base-practice
env-3-12-llm
env-pytorch
env-langchain-ollama
env-ollama-langchain-embedding
env-ollama-langchain-embedding-pca
env-computer-vision-pytorch
env-nlp
datasets/**
!datasets/few-shot-example/few_shot_example.txt
datasets-backup
env-ml-bootcamp
env-ollama-langchain
knowledge-graph-mcp-server/.venv
knowledge-graph-mcp-server/knowledge_graph_mcp_server.egg-info
knowledge-graph-mcp-server/__pycache__
note.txt
# langchain/.env
langchain/ollama/cache.db
langchain/ollama/cache-copy.db
note.txt
terminal-mcp-server/__pycache__
env-mcp-server
env-kg-mcp-server